*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page-title{
    text-align: center;
}
.hero{
    text-align: center;
}
#name, #location{
    text-decoration: none;
    border: 1px solid;
    background-color: transparent;
}
#submit{
    background-color: transparent;
    text-decoration: none;
    border: 1px solid black;
}
#submit:hover{
    text-decoration: underline ;
}
footer{
    text-align: left;
}
.page-content {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
 }
 #suggestion-container{
    display: flex;
    justify-content: center;
 }
 .button{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
 }
